@tailwind base;
@tailwind components;
@tailwind utilities;

.monsterrat {
  font-family: "Montserrat", sans-serif;
}
.box-shadow {
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
}

.ant-tabs-content,
.ant-tabs-tabpane {
  height: 1890px;
}

@media (min-width: 1024px) {
  .ant-tabs-content,
  .ant-tabs-tabpane {
    height: 700px;
  }
}

.ant-tabs-content-holder {
  height: 1890px;
}

@media (min-width: 1024px) {
  .ant-tabs-content-holder {
    height: 700px;
  }
}

/* Thin scrollbar only for Webkit-based browsers*/
::-webkit-scrollbar {
  width: 6px; /* Vertical scrollbar width */
  height: 6px; /* Horizontal scrollbar height */
}

::-webkit-scrollbar-thumb {
  background-color: silver; /* Thumb color */
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: whitesmoke; /* Track color */
}

::-webkit-scrollbar-thumb:hover {
  cursor: pointer; /* Thumb hover cursor */
}
